+b.SECTION.greeting
  +e.H1.title something
    br
    | AS A SERVICE
  +e.grid
    +e.items
      +e.item
        +e.IMG.item-icon(src="img/i-about-1.svg")
        +e.H3.item-title Digital identity
        +e.P.item-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      +e.item
        +e.IMG.item-icon(src="img/i-about-2.svg")
        +e.H3.item-title Trust Score
        +e.P.item-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      +e.item
        +e.IMG.item-icon(src="img/i-about-3.svg")
        +e.H3.item-title Search engine
        +e.P.item-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      +e.item
        +e.IMG.item-icon(src="img/i-about-4.svg")
        +e.H3.item-title User friendly
        +e.P.item-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      


