+b.SECTION.lightpaper
  +e.inner
    +e.content
      +e.heading
        +e.H2.title our
          br
          | lightpaper
        +e.P.text Team is currently working on all its documents.
      +e.IMG.book(src="img/book.png")
      +e.button-wrapper
        +e.A.button(href="#") download
  